<!-- <div class="container">
  

</div> -->
<div class="row text-left justify-content-md-center ">
  <div class="col-md-8 ">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="from-actions-top-bottom-center">Add Disease</h4>

        <div class="card-content">
          <div class="px-3">
            <form class="form" [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-body">


                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" class="form-control" formControlName="nom" placeholder="nom" name="nom">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="nomScientifique">Nom Scientifique</label>
                    <input type="text" id="nomScientifique" class="form-control" formControlName="nomScientifique"
                      placeholder="Nom Scientifique" name="nomScientifique">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="nomScientifique">Contenu</label>
                    <ckeditor [editor]="Editor" (change)="onChange($event)" [data]="contenu"></ckeditor>
                  </div>

                </div>




              </div>

              <div class="form-actions center">

                <button type="submit" class="btn btn-raised btn-primary" [disabled]="form.invalid">
                  <i class="fa fa-check-square-o"></i> Save
                </button>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>